html {
  background-color: rgb(243, 242, 231);
}

head, body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h3 {
  text-align: center;
}

a {
  text-decoration: none;
  font-style: italic;
}

a:hover {
  background-color: rgb(185, 232, 238);
  /* color: rgb(227, 196, 255); */
  box-shadow: 0px 2px 8px 2px rgba(141,150,178,.3);
  transform: scale(1.1);  

}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

.card {
  /* width: 200px; */
  margin: 20px;
  text-align: center;
}

.card-image {
  display: block;
  /* width: 200px; */
  /* height: 150px; */
}

.btn {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  box-shadow: none;
  cursor: pointer;
  
  width: 150px;
  margin: 5px 10px;
  padding: 10px 15px;
  border-radius: 2px;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: white;
  background: #315efb;
  transition: 0.3s;
}

.btn:hover {
  box-shadow: 0px 2px 8px 2px rgba(141,150,178,.3);
  transform: scale(1.05);
}

.input {
  text-align: center;
  width: 150px;  
  height: 30px;
  font-size: 14px;
  font-weight: 800;
  transition: 0.3s;  
}

.input:hover {
  box-shadow: 0px 2px 8px 2px rgba(141,150,178,.3);
  transform: scale(1.05);
}

.input:focus {
  background-color: lemonchiffon;
}